.description {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);

  h1, p, .subtitle {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  }



  h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #f1f1f1;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #87cefa;
    font-style: italic;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
  }
}
