/* description.component.scss */
.description {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #3498db;
  }

  p {
    line-height: 1.6;
  }
}