<section class="users">
  <div class="cards">
    <!-- Alejandro -->
    <div class="card">
      <h2>Alejandro</h2>
      <div class="photo">
        <img src="assets/alex.png" alt="Foto Alejandro" />
      </div>
      <p>
        Soy un desarrollador de software apasionado por la tecnología, experto en la resolución
        de problemas y el trabajo colaborativo...
      </p>
      <div class="social">
        <a href="https://github.com/aleexst99" target="_blank">
          <i class="pi pi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/alejandrosanchezteruel/" target="_blank">
          <i class="pi pi-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Arturo -->
    <div class="card">
      <h2>Arturo</h2>
      <div class="photo">
        <img src="assets/arturo.png" alt="Foto Arturo" />
      </div>
      <p>
        ¡Hola! Soy Arturo, un apasionado por la tecnología y el desarrollo de software.
        Estoy titulado en Desarrollo de Aplicaciones...
      </p>
      <div class="social">
        <a href="https://github.com/Turidevelop" target="_blank">
          <i class="pi pi-github"></i>
        </a>
        <a href="https://linkedin.com/in/compa" target="_blank">
          <i class="pi pi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</section>
