<section class="users">
  <div class="cards">
    @for (user of users; track user.id) {
      <div class="card" (click)="openUserProfile(user.id)">
        <h2>{{ user.name }}</h2>

        <div class="photo">
          <img [src]="cloudinary.avatarUrl(user.photo, 400)" [alt]="'Foto de ' + user.name" />
        </div>

        <p>{{ user.bio }}</p>

        @if (user.social.github || user.social.linkedin) {
          <div class="social">
            @if (user.social.github) {
              <a [href]="user.social.github" target="_blank" (click)="$event.stopPropagation()">
                <i class="fa-brands fa-github"></i>
              </a>
            }
            @if (user.social.linkedin) {
              <a [href]="user.social.linkedin" target="_blank" (click)="$event.stopPropagation()">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            }
          </div>
        }
      </div>
    }
  </div>
</section>

