.map-container {
  margin: 2rem 0;
  h2 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  #map {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
  }

  .leaflet-container {
    background: #222;
  }
}
