<p-menubar>
  <ng-template pTemplate="start">
    <img src="assets/logo.svg" alt="Logo" height="30" />
  </ng-template>
  <ng-template pTemplate="menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/destination">Destination</a></li>
      <li><a routerLink="/blog">Blog</a></li>
    </ul>
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton label="Sign in" class="p-button-text"></button>
    <button pButton label="Sign up" class="p-button-rounded p-button-primary ml-2"></button>
  </ng-template>
</p-menubar>
<router-outlet>
